.div1 {
  background: linear-gradient(to bottom right, #1e3c72, #2a5298);
  color: white;
  padding-top: 2rem;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  min-height: 100vh;
}

.div1 ul li {
  list-style: none;
  padding: 0.8rem 1rem;
  transition: 0.3s ease;
  border-radius: 8px;
}

.div1 ul li:hover {
  background: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
.nav-linkitem{
  text-decoration: none;
}


.div1 ul li a:hover {
  color: #f0db4f;
}
